.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
**/*.map
.gitignore
.gitattributes
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
tslint.json
.prettierrc